@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <nav>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Todos" asp-action="Index">Yapılacaklar</a>
        </li>
    </nav>
</div>